@model Conferense.Models.RegisterLoginViewModel




<div class="col-lg-6 col-sm-12">
                <h1>Конференція молодих учених</h1>
                <p>Щорічна конференція молодих учених, що проводиться кафедрою мережевих та інтернет технологій. Зареєструватися на конференцію, або увійти до власного кабінету можна заповнивши форму знизу</p>
                <ul class="nav nav-pills mb-3 ulEnterMain" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-singIn-tab" data-toggle="pill" href="#pills-singIn" role="tab" aria-controls="pills-singIn" aria-selected="true">Ввійти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-singUp-tab" data-toggle="pill" href="#pills-singUp" role="tab" aria-controls="pills-singUp" aria-selected="false">Реєстрація</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-singIn" role="tabpanel" aria-labelledby="pills-singIn-tab">
                        <div class="row">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                            @Html.AntiForgeryToken()
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.LoginViewModel.Email, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.LoginViewModel.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.LoginViewModel.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LoginViewModel.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.LoginViewModel.RememberMe)
                                        @Html.LabelFor(m => m.LoginViewModel.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Выполнить вход" class="buttonEnter btn btn-primary mb-2" />
                                </div>
                            </div>
                            }
                            <!--<button type="submit" class="buttonEnter btn btn-primary mb-2">Ввійти</button>-->
                        </div><!--row-->
                    </div><!--tabpane-->

                    <div class="tab-pane fade" id="pills-singUp" role="tabpanel" aria-labelledby="pills-singUp-tab">
                        <div class="row rowForm">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                            @Html.AntiForgeryToken()
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.FullName, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.FullName, new { @class = "form-control" })
                                    <small class="text-danger">
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.FullName)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.Job_Education, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Job_Education, new { @class = "form-control" })
                                    <small class="text-danger">
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.Job_Education)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.Scientist, new { @class = " control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Scientist, new { @class = "form-control" })
                                    <small class="text-danger">
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.Scientist)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.Participation, new { @class = " control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Participation, new { @class = "form-control" })
                                    <small class="text-danger">
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.Participation)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.Degree, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Degree, new { @class = "form-control" })
                                    <small class="text-danger">
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.Degree)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.PhoneNumber, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.PhoneNumber, new { @class = "form-control" })
                                    <small class="text-danger">
                                        @Html.ValidationMessageFor(m => m.RegisterViewModel.PhoneNumber)
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.Email, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.Password, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <button type="submit" class="buttonEnter btn btn-primary mb-2">Зареєструватися</button>
                            }
                        </div><!--row-->
                    </div><!--tabpane-->
                </div>
                <!--</ul>-->
            </div>


