@model Conferense.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Сторінка";
}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("navbarNavDropdown").style.display = "none";
            document.getElementById("address").style.visibility = "hidden";
}, false);
    
    </script>
    <div class="main">
        <div class="container">
            <div class="row rowMain">
                <div class="col-lg-4 col-sm-12">
                    <dt>Користувач:</dt>
                    <dd>
                        @User.Identity.GetUserName()
                    </dd>
                </div>

                <div class="col-lg-8 col-sm-12">
                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <div>
                        <h4>Меню</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dd>
                                <br>
                            <dt>Завантажте свою конференцію до репозиторію:</dt>
                            @Html.ActionLink("Завантажити файл конференції", "SetFile")
                            </dd>
                            <dd>
                                <br>
                            <dt>Можливість перевірити всі завантажені конференції:</dt>
                            @Html.ActionLink("Переглянути завантажені файли", "ShowAllFiles")
                            </dd>
                            <dd>
                                <br>
                            <dt>Редактор данних інформаційної сторінки:</dt>
                            @Html.ActionLink("Редактувати дані на головній сторінці", "SetInfo")

                            </dd>
                            <br>
                            <dt>Пароль:</dt>
                            <dd>
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Змінити пароль", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Створити пароль", "SetPassword")
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>