@model Conferense.Models.SetFileViewModel
@{
    ViewBag.Title = "Завантажити статтю";
}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("navbarNavDropdown").style.display = "none";
            document.getElementById("address").style.visibility = "hidden";
}, false);

    </script>
<div class="main">
    <div class="container">
        <div class="row rowMain">
            <h4>@ViewBag.Title.</h4>
            <p>
                <b>Структура</b>:
                прізвище та ініціали автора (жирний шрифт, зліва);
                відомості про автора: вчене звання, вчений ступінь, місце роботи (звичайний шрифт, зліва, в один рядок, без виділення);
                назва тез доповіді (великі літери, жирний шрифт, по центру);
                текст (кегль - 14, по ширині);
                література (кегль - 12, по ширині).
                У тезах потрібно окреслити мету та завдання, описати джерела дослідження, викласти результати і висновки та сформулювати, в чому полягає цікавість для науки і практики отриманих даних.

                Список літератури друкується наприкінці у порядку згадування, посилання на джерело наводиться в тексті у квадратних дужках, номери сторінок вказуються через кому.

                Матеріали конференції друкуватимуться в авторській редакції. За науковий зміст і якість поданих матеріалів відповідальність несуть учасники конференції. Оргкомітет залишає за собою право на відмову в друкуванні матеріалів, що не відповідають вказаним вимогам або подані із порушенням встановленого терміну.

                Назва файла, який містить тези, набирається латиницею і обов’язково має містити прізвище автора і слово «тези», поєднані нижнім підкресленням, наприклад, Petrenko_tezy.doc.

                Студенти та аспіранти мають докласти до власних матеріалів конференції відгук наукового керівника.

                *Увага! Якщо протягом 3-х робочих днів після відсилання заявки і тез (заповнення електронної форми), ви не отримали від нас відповідь, будь ласка, ще раз надішліть нам свої матеріали. Можливо, електронна форма не спрацювала і ми не отримали вашу заявку.
            </p>
            <div class="col-lg-12 col-sm-12">
                @using (Html.BeginForm("SetFile", "Manage", FormMethod.Post,
                    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    @Html.TextBoxFor(m => m.File, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.File)
                    <input type="submit" value="Завантажити" />
                    <br>
                    <br>

                }
            </div>
        </div>
    </div>
</div>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
